body {
    background-color: #96BAFF;
    margin: 0;
    padding: 0;
    background: url("/keith-misner-wood.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

p {
    margin: 0;
}

row {
    padding: 0;
    margin: 0;
}

#main-container {
    padding: 10px 10px 0 10px;
    margin: 0 auto;
}

/* Tab Section */
#tab-section {
    background-color: lightyellow;
    height: 90vh;
}

.orderNum {
    margin: 10px;
    padding-top: 10px;
    font-weight: bold;
}

#order-type {
    float: right;
}

.tab-commands, .total-commands {
    float: right !important;
    text-align: right;
}

.send-order, .cancel-order, .start-order, .make-payment, .add-discount {
    margin-right: 10px;
    width: 140px;
}

/* Total Section */
#total-area {
    background-color: skyblue;
    height: 20vh;
    padding: 10px;
    margin: 0;
}

.tab-container {
    background-color: royalblue;
    height: 65vh;
    margin: 10px 0;
}

.tab-area {
    background-color: white;
    height: 52vh;
    overflow: auto;
    margin: 10px;
}

.right-panel {
    text-align: right;
}

th {
    position: sticky;
    top: 0;
}

/* Menu Section */
#menu-section {
    background-color: pink;
    height: 90vh;
}

#menu-area {
    background-color: lightgreen;
    height: 65vh;
    margin: 10px 0;
}

.nav-tabs {
    padding-top: 10px;
}

.individual-options-area {
    background-color: violet;
    height: 54vh;
    overflow: auto;
    margin: 8px;
    text-align: center;
}

#order-history-section {
    background-color: mediumpurple;
    height: 20vh;
}

.add-btn {
    width: 11.25em;
    height: 6em;
    margin: 3px;
}

/* Order History */
#order-history-section {
    overflow: auto;
    white-space: nowrap;
}

/* Modal */
#modal {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    overflow: auto;
    display: none;
}

#modal-textbox {
    background-color: white;
    height: 70vh;
    width: 500px;
    border-radius: 2px;
    margin: 150px auto;
    padding: 2%;
    line-height: 120%;
}

/* Wiggle Animation */
.wiggle {
  -webkit-animation-name: wiggle;
  -ms-animation-name: wiggle;
  -ms-animation-duration: 1000ms;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
}

@-webkit-keyframes wiggle {
  0% {-webkit-transform: rotate(10deg);}
  25% {-webkit-transform: rotate(-10deg);}
  50% {-webkit-transform: rotate(20deg);}
  75% {-webkit-transform: rotate(-5deg);}
  100% {-webkit-transform: rotate(0deg);}
}

@-ms-keyframes wiggle {
  0% {-ms-transform: rotate(1deg);}
  25% {-ms-transform: rotate(-1deg);}
  50% {-ms-transform: rotate(1.5deg);}
  75% {-ms-transform: rotate(-5deg);}
  100% {-ms-transform: rotate(0deg);}
}

@keyframes wiggle {
  0% {transform: rotate(10deg);}
  25% {transform: rotate(-10deg);}
  50% {transform: rotate(20deg);}
  75% {transform: rotate(-5deg);}
  100% {transform: rotate(0deg);}
}
