body {
    background-color: #96BAFF;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background: url("./keith-misner-wood.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Source Sans Pro', sans-serif;
}

p {
    margin: 0;
}

th {
    position: sticky;
    top: 0;
    background-color: #FFF;
}

h6 {
    text-align: center;
}

/* Navbar */
.navbar-brand {
    color: #F24A07 !important;
    font-size: 1.75rem;
}

.fa-receipt {
    margin-right: 4px;
}

.fa-sign-out-alt, .fa-cog {
    font-size: 1.25rem;
}

/* Login Screen */
.login-title {
    color: #F24A07;
    font-size: 3rem;
    padding: 60px;
}

.login-content {
    border-radius: 2% !important;
    text-align: center;
    height: 70vh !important;
    position: relative;
    transition: all 1s;
}

#login-welcome {
    margin-top: 2rem;
}

#login-msg {
    margin-top: 14rem;
}

#pin-pad {
    width: 100%;
    margin: 0 auto;
}

#pin-input {
    text-align: center;
}

#login-btn {
    background-color: #F24A07;
    color: #FFF;
    width: 100%;
    margin-top: 0.5rem;
}

.login-container {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 10%;
    width: 80%;
}

/* Main Container */
#main-container {
    opacity: 0;
    transition: all 1s;
    padding: 10px 10px 0 10px;
    margin: 0 auto;
}

/* Tab Section */
#tab-section {
    background-color: #313131;
    height: 92vh;
}

.orderNum {
    margin: 10px;
    padding-top: 10px;
    font-weight: bold;
}

#order-type {
    float: right;
}

.tab-commands, .total-commands {
    float: right !important;
    text-align: right;
    margin-right: 10px;
    width: 100%;
}

.start-order {
    float: left;
    margin-left: 30px;
}

.send-order, .cancel-order, .start-order, .make-payment, .add-discount {
    margin-right: 10px;
    width: 140px;
}

.cancel-order, .send-order {
    border: 1px solid black;
}

.start-order, .make-payment, .add-discount {
    background-color: #2C4FB8;
}

.start-order:hover, .make-payment:hover, .add-discount:hover {
    background-color: #002182;
}

/* Total Section */
#total-area {
    background-color: #E0E0E0;
    height: 20vh;
    padding: 10px;
    margin: 0;
}

.tab-container {
    background-color: #E0E0E0;
    height: 68vh;
    margin: 10px 0;
}

.tab-area {
    background-color: white;
    height: 52vh;
    overflow: auto;
    margin: 10px;
}

.right-panel, .left-panel {
    padding: 10px 30px;
}

.right-panel {
    text-align: right;
}

#total {
    font-size: 2rem;
    font-weight: bold;
    vertical-align: top;
    margin-top: -10px;
}

/* Menu Section */
#menu-section {
    background-color: #7D7D7D;
    height: 92vh;
}

#menu-area {
    background-color: #D5D5D5;
    height: 68vh;
    margin: 10px 0;
}

.nav-tabs {
    padding-top: 10px;
    border-bottom: 1px solid #313131;
}

.nav-link.active {
    border-bottom: 1px solid #313131 !important;
}

.individual-options-area {
    background-color: #D5D5D5;
    height: 54vh;
    overflow: auto;
    margin: 8px;
    text-align: center;
}

.add-btn {
    width: 11.25em;
    height: 6em;
    margin: 3px;
}

.add-btn:hover {
    background-color: #4965A1 !important;
    transition: 0.25s;
}

/* Order History */
#order-history-section {
    background-color: #D5D5D5;
    height: 20vh;
    padding: 1%;
    overflow: auto;
    white-space: nowrap;
}

#history-msg {
    text-align: center;
    margin: 3.5rem;
}

/* Modal */
#modal {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    overflow: auto;
    display: none;
}

#login-modal-textbox, #modal-textbox {
    background-color: #FFF;
    height: 70vh;
    width: 500px;
    border-radius: 2px;
    margin: 100px auto;
    padding: 2%;
    line-height: 120%;
}

#modal-textbox {
    width: 28rem;
}

#payment-success {
    text-align: center;
    visibility: hidden;
    transition: all 1s;
}

#complete-payment, #cancel-payment {
    font-size: 1.25rem;
}

.calculator {
    text-align: center;
    margin: 0 30px;
}

#guestPayment {
    width: 100%;
}

.calc-btn {
    height: 4rem;
    width: 6rem;
    font-size: 2rem;
    margin: 5px;
}

/* Wiggle Animation */
.wiggle {
  -webkit-animation-name: wiggle;
  -ms-animation-name: wiggle;
  -ms-animation-duration: 1000ms;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
}

@-webkit-keyframes wiggle {
  0% {-webkit-transform: rotate(5deg);}
  25% {-webkit-transform: rotate(-5deg);}
  50% {-webkit-transform: rotate(5deg);}
  75% {-webkit-transform: rotate(-5deg);}
  100% {-webkit-transform: rotate(0deg);}
}

@-ms-keyframes wiggle {
  0% {-ms-transform: rotate(1deg);}
  25% {-ms-transform: rotate(-1deg);}
  50% {-ms-transform: rotate(1.5deg);}
  75% {-ms-transform: rotate(-5deg);}
  100% {-ms-transform: rotate(0deg);}
}

@keyframes wiggle {
  0% {transform: rotate(5deg);}
  25% {transform: rotate(-5deg);}
  50% {transform: rotate(5deg);}
  75% {transform: rotate(-5deg);}
  100% {transform: rotate(0deg);}
}
