body {
    background-color: #96BAFF;
    margin: 0;
    padding: 0;
}

#main-container {
    padding: 10px 10px 0 10px;
    margin: 0 auto;
}

#tab-section {
    background-color: lightyellow;
    height: 90vh;
}

#total-section {
    background-color: skyblue;
    height: 30vh;
    padding: 0;
}

.tab-area {
    background-color: white;
    height: 50vh;
}

#menu-section {
    background-color: pink;
    height: 90vh;
}

#menu-area {
    background-color: lightgreen;
    height: 80vh;
}

#modal {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: auto;
  display: none;
}

#modal-textbox {
  background-color: white;
  height: 350px;
  width: 550px;
  border-radius: 2px;
  margin: 150px auto;
  padding: 2%;
  line-height: 120%;
	font-family: Arial;
}

#modal-footer {
	text-align: right;
}
